<div class="card ml-5">
  <div class="card-body">
    <%= form_for @comment do |f| %>
      <div class="form-group">
        <%= f.label 'Comment' %>
        <%= f.text_area :comment_content, placeholder: "Comment...",required: true, class: 'form-control'%>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="form-group form-comment">
  <div class="row">
    <%= text_field_tag :comment_content, nil, class: "form-control", placeholder: "New comment ... " %>
    <%= button_tag "Comment", class: "btn btn-primary" %>
  </div>
</div>
